# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = '.'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [16]:
one_hot_encode_sub_train=sub_train.head()
pd.get_dummies(one_hot_encode_sub_train)

,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,1
1,1,0,0
2,1,0,0
3,0,0,1
4,0,1,0

In [17]:
one_hot_encode_sub_train.shape

(5, 1)

### Pratices for LabelEncoder

In [21]:
from sklearn.preprocessing import LabelEncoder

LE=LabelEncoder()
head10_train=sub_train.head()
for col in head10_train.columns:
    if head10_train[col].dtype == 'object':
        LE.fit(head10_train[col])
        head10_train[col]=LE.transform(head10_train[col])

d:\python\python37-32\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
display(head10_train)
display(sub_train.head())

   WEEKDAY_APPR_PROCESS_START
0                           2
1                           0
2                           0
3                           2
4                           1

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY